@page "/passwords"
@using EDataAccessLibrary
@using EDataAccessLibrary.Models
@using Models
@inject NavigationManager navigationManager
@inject IUsersData _db1
@inject IPasswordData _db2

<MudText Typo='Typo.h1'>Users Page</MudText>

<MudText Typo='Typo.h4'>Current Users</MudText>

@if (passwords == null)
{
    <MudText Typo='Typo.h5'>Loading...</MudText>
}
else
{
    <MudTable Items='@passwords'>
        <HeaderContent>
            <MudTh>Service</MudTh>
            <MudTh>Username</MudTh>
            <MudTh>Password</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel='Service'>@context.Service</MudTd>
            <MudTd DataLabel='Username'>@context.UserName</MudTd>
            @if(show){
                <MudTd DataLabel='Password'>@context.PassWord</MudTd>
            }
            else{
                <MudTd DataLabel='Password'>@passw</MudTd>
            }
            @if(confirmDelete == true && @context.Id == idToDelete)
            {
                <MudTd><MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error" @onclick="() => DeletePass(idToDelete)">Confirm</MudButton></MudTd>
            }
            else{
                <MudTd><MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error" @onclick="() => ConfirmPass(context.Id)">Delete</MudButton></MudTd>
            }
            
            
        </RowTemplate>
    </MudTable>
    <form>
        <input type="checkbox" @onclick="changeVisibility" style='margin-top: 10px; margin-right: 5px'>Show Password
    </form>
    
}

<h3>Insert New Password</h3>

<div style="max-width: 400px;">
    <EditForm Model="@newPassword" OnValidSubmit="@TransferPassword">
        <DataAnnotationsValidator />
        <MudCard>
            <MudCardContent>
                <MudTextField Label="Service"
                              @bind-Value="newPassword.Service" For="@(() => newPassword.Service)" />
                <MudTextField Label="Username" Class="mt-3"
                              @bind-Value="newPassword.UserName" For="@(() => newPassword.UserName)" />
                <MudTextField Label="Password" HelperText="Choose a strong password" Class="mt-3"
                              @bind-Value="newPassword.PassWord" For="@(() => newPassword.PassWord)" InputType="InputType.Password" />
                <MudTextField Label="Password" HelperText="Repeat the password" Class="mt-3"
                              @bind-Value="newPassword.RepeatPassWord" For="@(() => newPassword.RepeatPassWord)" InputType="InputType.Password" />
            </MudCardContent>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" Align="Align.Center">Submit</MudButton>
            </MudCardActions>
        </MudCard>
    </EditForm>
</div>

@code {
    private List<UserModel> users;
    private List<PasswordModel> passwords;
    private DisplayPasswordModel newPassword = new DisplayPasswordModel();
    bool show = false;
    bool confirmDelete = false;
    int idToDelete;

    private string passw= "********";
    protected override async Task OnInitializedAsync()
        {
            users = await _db1.GetUsers();
            passwords = await _db2.GetPasswords();
        }
    private async void changeVisibility()
    {
        show = !show;
        await InvokeAsync(() =>
        {
            base.StateHasChanged();
        });
    }
    private async Task TransferPassword()
    {
        PasswordModel p = new PasswordModel
        {
            Service = newPassword.Service,
            UserName = newPassword.UserName,
            PassWord = newPassword.PassWord,
            UserId = 1
        };
        await _db2.InsertPassword(p);
        passwords.Add(p);

        newPassword = new DisplayPasswordModel();
    }
    private void ConfirmPass(int ID)
    {
        idToDelete = ID;
        confirmDelete = true;
    }
    private async void DeletePass(int ID)
    {
        await _db2.DeletePassword(ID);
        navigationManager.NavigateTo("/passwords", forceLoad: true);
    }
}

        